@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.stylish-y-scroll {
  /* For Webkit-based browsers (e.g., Chrome, Safari) */
  &::-webkit-scrollbar {
    background-color: transparent; /* Thumb color */
    width: 5px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent; /* Track color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3562ff; /* Thumb color */
    border-radius: 8px; /* Rounded corners for the thumb */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
